window {
    margin: 5px;
    border: 2px solid rgba(137, 180, 250, 0.5); /* Blue glow */
    background-color: rgba(26, 27, 38, 0.9); /* Dark Transparent */
    border-radius: 15px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
}

#input {
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: #313244;
    color: #cdd6f4;
    padding: 10px;
}

#inner-box {
    margin: 10px;
    background-color: transparent;
}

#outer-box {
    margin: 10px;
    background-color: transparent;
}

#scroll {
    margin: 5px;
}

#text {
    margin: 5px;
    color: #cdd6f4;
}

#entry:selected {
    background-color: #89b4fa;
    border-radius: 10px;
}

#text:selected {
    color: #11111b;
}
